.btn {
    cursor: pointer;
    display: inline-block;
    padding: .5rem 1rem;
    font-family: inherit;
    font-size: 1rem;
    background-color: #CACBCD;
    color: #434344;
    font-weight: 700;
    outline: none;
    border-radius: .3rem;
    border: none;
    transition: all .1s;

    &:active {
        transform: translateY(.1rem);
    }

    &:hover {
        background-color: #b8b9bb;
    }

    &-primary {
        background-color: #3498db;
        color: #fff;

        &:hover {
            background-color: #2980b9;
        }
    }

    &-danger {
        background-color: #e74c3c;
        color: #fff;

        &:hover {
            background-color: #c0392b;
        }
    }

    &-success {
        background-color: #2ecc71;
        color: #fff;

        &:hover {
            background-color: #27ae60;
        }
    }

    &-warning {
        background-color: #f1c40f;
        color: #fff;

        &:hover {
            background-color: #f39c12;
        }
    }
}
