.btn {
    cursor: pointer;
    display: inline-block;
    padding: .7rem 1.5rem;
    font-family: inherit;
    font-size: var(--font-size-default);
    background-color: var(--clr-grey-light-2);
    color: var(--clr-grey-dark);
    font-weight: 700;
    outline: none;
    border-radius: var(--border-radius);
    border: none;
    transition: all .1s;
    height: 3.6rem;

    &:active {
        transform: translateY(.2rem);
    }

    &:hover {
        background-color: #b8b9bb;
    }

    &-primary {
        background-color: var(--clr-primary-light);
        color: #fff;

        &:hover {
            background-color: var(--clr-primary-dark);
        }
    }

    &-danger {
        background-color: var(--clr-danger-light);
        color: #fff;

        &:hover {
            background-color: var(--clr-danger-dark);
        }
    }

    &-success {
        background-color: var(--clr-success-light);
        color: #fff;

        &:hover {
            background-color: var(--clr-success-dark);
        }
    }

    &-warning {
        background-color: var(--clr-warning-light);
        color: #fff;

        &:hover {
            background-color: var(--clr-warning-light);
        }
    }
}
