@for $i from 1 through 10 {
    $grid-template-columns: repeat($i, min-content);
    .grid--#{$i} {
        grid-template-columns: $grid-template-columns;
    }
}

.hide {
    display: none !important;
}

.group-toolbar {
    height: 4rem;
    background-color: orangered;
    display: flex;
    align-items: center;
    padding: 1rem;

    &__item {
        border: .1rem solid #000;
        padding: .5rem;
        font-size: 1.4rem;
        font-weight: 700;

        &:not(:last-child) {
            margin-right: 1rem;
        }
     }
}

.grid {
    display: grid;

    &-header {
        display: contents;
    }

    &-row {
        display: contents;
        
        &.selected > .grid-column-data,
        &.selected > .react-resizable {
            background-color: var(--clr-grey-light-0);
        }
        &:hover {

            & > .grid-column-data, 
            & > .react-resizable {
                background-color: var(--clr-grey-light-0);
            }
        }
    }
    
    .col-header {
        height: 100%;
        width: 100%;
        margin-right: auto;
        font-size: 1.3rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        padding: .5rem;
        cursor: pointer;
        border: .1rem solid #000;

        &-sort {
            &.allow {
                opacity: 1;
            }

            opacity: 0;

            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: .5rem;

            &__icon {
                display: block;
                height: .8rem;
                width: .8rem;
                color: var(--clr-grey-light-2);
                transition: all .1s;

                &.active {
                    color: var(--clr-grey-dark-1);
                }
            }
        }
    }

    .react-resizable {
        border: .1rem solid #ccc;
        display: flex;
        width: 100%;

        &-handle-se {
            opacity: 0;
            height: 100%;
            width: .5rem;
            background-color: transparent;
            cursor: col-resize;
            transition: all .2s;

            &:hover {
                opacity: 1;
                background-color: #000;
            }
        }
    }
    
    &-column-data {
        border: .1rem solid #ccc;
        padding: .5rem;
        min-height: 4rem;
        width: 100%;
        font-size: 1.3rem;

        // &:nth-child(n + 8):nth-child(-n + 14) {
        //     background-color: orangered;
        // }

        // &:nth-child(n + 22):nth-child(-n + 28) {
        //     background-color: orangered;
        // }
    }
}
