@font-face {
    font-family: "Nunito";
    src: url("../../fonts/Nunito-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Nunito";
    src: url("../../fonts/Nunito-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Nunito";
    src: url("../../fonts/Nunito-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url("../../fonts/Nunito-Bold.ttf");
    font-weight: 700;
}

:root {
    // COLORS
    --clr-primary-light: #3498db;
    --clr-primary-dark: #2980b9;

    --clr-danger: rgb(255, 0, 0);
    --clr-danger-light: #e74c3c;
    --clr-danger-dark: #c0392b;

    --clr-success-light: #2ecc71;
    --clr-success-dark: #27ae60;

    --clr-warning-light: #f1c40f;
    --clr-warning-dark: #f39c12;

    --clr-grey-light-0: rgb(238, 234, 234);
    --clr-grey-light-1: rgb(208, 208, 208);
    --clr-grey-light-2: #cacbcd;
    --clr-grey-dark-1: #434344;
    --clr-grey-dark-2: #b8b9bb;

    // FONTS
    --font-size-default: 1.6rem;

    // ELEMS
    --border-radius: .3rem;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: "Nunito", sans-serif;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: [sidebar-start] 20vw [sidebar-end content-start] auto [content-end];
    grid-template-rows: 5rem auto;
    min-height: 100vh;
    // height: calc(100vh);
}

.top-panel {
    grid-column: sidebar-start / content-end;
    grid-row: 1 / span 1;
}

.content {
    grid-column: content-start / content-end;
    grid-row: 2 / span 1;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 1rem;

    &.collapse {
        grid-column: sidebar-start / content-end;
    }
}
