.select-box {
    display: flex;
    width: 40rem;
    flex-direction: column;

    .options-container {
        background-color: #2f3640;
        color: #f5f6fa;
        width: 100%;
        transition: all .4s;
        border-radius: 8px;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        order: 1;

        &.active {
            min-height: 24rem;
            opacity: 1;
            overflow-y: scroll;
        }

        &.active + .selected svg {
            transform: rotate(180deg);
        }

        &::-webkit-scrollbar {
            width: 0.8rem;
            background: #0d141f;
            border-radius: 0 .8rem .8rem 0;
        }
        &::-webkit-scrollbar-thumb {
            background: #525861;
            border-radius: 0 .8rem .8rem 0;
        }
    }

    .selected {
        background: #2f3640;
        border-radius: .8rem;
        margin-bottom: .8rem;
        color: #f5f6fa;
        position: relative;
        order: 0;

        & > svg {
            position: absolute;
            font-size: 2rem;
            color: currentColor;
            right: 1rem;
            top: 1rem;
            transition: all .4s;
        }
    }

    .option,
    .selected {
        padding: 1.2rem 2.4rem;
        cursor: pointer;
    }

    .option:hover {
        background: #414b57;
    }

    label {
        cursor: pointer;
    }

    .option .radio {
        display: none;
    }
}
