.select-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: var(--font-size-default);
}

.options-container {
    width: 100%;
    transition: all .4s;
    border-radius: var(--border-radius);
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    order: 1;
    border: .1rem solid var(--clr-grey-light-1);

    &.active {
        min-height: 24rem;
        opacity: 1;
        overflow-y: scroll;
    }

    &.active + .selected svg {
        transform: rotate(180deg);
    }

    &::-webkit-scrollbar {
        width: 0.8rem;
        background: var(--clr-grey-dark-2);
        border-radius: .3rem;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--clr-grey-light-1);
        border-radius: .3rem;
    }

    .option{
        cursor: pointer;
        padding: .7rem 1.2rem;

        &:hover {
            background: var(--clr-grey-light-1);
        }

        &__radio {
            display: none;
        }

        &__label {
            cursor: pointer;
        }
    }
}

.selected {
    border-radius: var(--border-radius);
    cursor: pointer;
    margin-bottom: .8rem;
    position: relative;
    border: .1rem solid var(--clr-grey-light-1);
    order: 0;
    padding: .7rem 1.2rem;

    &__icon svg {
        position: absolute;
        font-size: 2rem;
        color: currentColor;
        right: 1rem;
        top: 1rem;
        transition: all .4s;
    }
}
