.pages {
    &-button {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
        justify-self: center;
    }

    &-input {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-self: center;
    }

    &-select {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-self: center;
    }

    &-checkbox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        justify-items: center;
    }

    &-datepicker {
        justify-self: center;
    }

    &-form {
        display: grid;
        justify-content: center;
    }
}

.test {
    width: 10rem;
    height: 10rem;
    border: .2rem solid #000;
    display: flex;
    justify-content: end;

    .scroll {
        width: 2rem;
        height: 100%;
        background-color: orangered;
        cursor: pointer;
    }
}