.pages {
    &-button {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
        justify-self: center;
    }

    &-input {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-self: center;
    }

    &-select {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-self: center;
    }

    &-checkbox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        justify-items: center;
    }

    &-datepicker {
        justify-self: center;
    }

    &-form {
        display: grid;
        justify-content: center;
    }
}

.react-resizable {
    background-color: orange;
    position: relative;
}

.react-resizable-handle-se {
    width: 1rem;
    height: 100%;
    cursor: ew-resize;
    background-color: #000;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}
