.multi-select {
    width: 30rem;
    font-size: var(--font-size-default);
    position: relative;

    &__label {
        margin-left: 1.2rem;
        display: block;
        order: -1;
    }

    &__header {
        cursor: pointer;
        border: .1rem solid var(--clr-grey-light-1);
        padding: .7rem 1.1rem;
        border-radius: var(--border-radius);
        min-height: 3.8rem;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        .icon {
            font-size: 2rem;
            height: 2rem;
            width: 2rem;
            position: absolute;
            top: 1rem;
            right: 1rem;
            transition: all .2s;
        }

        .selected-item {
            background-color: var(--clr-grey-dark-2);
            padding: .1rem .2rem;
            border-radius: .2rem;
            margin: .3rem 0;
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-right: 1.3rem;
            }
            
            & > svg {
                display: inline-block;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &.active + .multi-select__options {
            opacity: 1;
            display: block;
        }

        &.active > .icon {
            transform: rotate(180deg);
        }
    }
    
    &__options {
        max-height: 15rem;
        overflow-y: scroll;
        position: absolute;
        width: 100%;
        opacity: 0;
        display: none;
        border: .1rem solid var(--clr-grey-light-1);
        border-radius: var(--border-radius);
        transition: opacity .3s;

        &:empty {
            border: .1rem solid transparent;
        }

        &::-webkit-scrollbar {
            width: .8rem;
            background-color: var(--clr-grey-dark-2);
            border-radius: .3rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--clr-grey-light-1);
            border-radius: .3rem;
        }
        
        &-item {
            padding: .7rem 1.2rem;
            cursor: pointer;

            &:hover {
                background-color: var(--clr-grey-light-0);
            }
        }
    }
}