.sidebar {
    background-color: var(--clr-mignight-blue);
    font-size: var(--font-size-default);
    grid-column: sidebar-start / sidebar-end;
    grid-row: 2 / span 1;
    overflow-y: auto;
    overflow-x: auto;
    line-height: 3rem;
    transition: all .2s;
    visibility: visible;
    opacity: 1;
    color: #fff;

    a:visited,
    a:link {
        color: currentColor;
        text-decoration: none;
        width: 100%;
    }

    &::-webkit-scrollbar {
        width: .8rem;
        background-color: var(--clr-grey-dark-2);
        border-radius: .3rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--clr-grey-light-1);
        border-radius: .3rem;
    }

    &.collapse {
        opacity: 0;
        height: 0;
        visibility: hidden;
        grid-column: sidebar-start / sidebar-start;
    }
    
    .nav__label {
        cursor: pointer;
    }

    & input[type="checkbox"] {
        display: none;
    }

    & .menu {
        display: flex;
        flex-direction: column;

        &__item {
            cursor: pointer;
            // padding: .5rem 1rem;

            &--clickable {
                transition: all .1s;
            }

            &--clickable:hover {
                width: 100%;
                background-color: var(--clr-wet-aspault);
            }

            &-label {
                padding: .5rem 1rem;
                text-transform: uppercase;
                cursor: pointer;
                display: flex;
                align-items: center;
            }

            &-input {
                & + label > svg {
                    transition: all .1s;
                }

                & ~ .item__list {
                    display: none;
                    opacity: 0;
                    visibility: hidden;
                    height: 0;
                    transition: all .1s;
                    padding-left: 2.5rem;
                }

                &:checked ~ .item__list {
                    display: block;
                    opacity: 1;
                    visibility: visible;
                    height: 100%;
                }

                &:checked + label > svg {
                    transform: rotate(90deg);
                }
            }

            .item__list {
                list-style: none;

                li {
                    display: block;

                    & .item-link:link,
                    & .item-link:visited {
                        color: currentColor;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

