.grid {
    font-size: 1.6rem;

    &-headers {
        
        .row {
            display: grid;
            grid-template-columns: repeat(6, min-content);
            align-items: center;

            border: .1rem solid #000;

            .checker {
                padding-left: .5rem;
            }

            .react-resizable {
                display: flex;
                .header-cell {
                    border: .1rem solid #000;
                    width: 100%;
                }

                &-handle-se {
                    display: inline-block;
                    height: 100%;
                    width: .5rem;
                    background-color: orangered;
                }
            }
        }
    }
}
